@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');


:root {
    --font-family-h: Oswald, Arial, Helvetica, sans-serif;
    --text-light-color: white;
    --text-dark-color: black;
    --text-bright-color: rgb(151, 70, 70);
    --bg-color-light: white;
    --bg-color-medium: rgb(177, 177, 177);
    --bg-color-dark: rgb(80, 80, 80);
    --bg-color-bright: rgb(241, 199, 199);
    
}

@media screen and (min-width: 900px) {
    .project a {
        height: 420px;
    }

    .menu-small {
        display: none;
    }
}


@media screen and (max-width: 900px) {
    .project a {
        height: 45vw;
    }

    .menu-small {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    nav .menu-big-mobile {
        flex-direction: column;
        padding: 60px 10px;
        background: var(--bg-color-medium);
    }

    .menu-big {
        display: none;
    }

    nav {
        position: relative;
        height: 60px;
        z-index: 2;
    }

    .menu-small {
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        margin: 0;
        padding: 0 15px;
        font-size: 40px;
        cursor: pointer;
    }

    .show {
        display: block;
    }


    header div.container-wrap {
        display: block;
        position: relative;
    }
    header .header-img img{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: auto;
        height: 100%;
        z-index: 0;
    }

    header h1 {
        margin: 0 0 5vw;
        font-size: 10vw;
    }

    header h3 {
        font-size: 7vw;
    }

    header li {
        font-size: 3vw;
    }

    header .main-information {
        padding-bottom: 3vw;
    }

    section .description-abs {
        top: 20%;
        left: 18%;
        opacity: 1;
        font-size: 2vw;
    }

    section .description-abs h3 {
        font-size: 4vw;
    }

    section a:hover .description-abs {
        background: grey;
        transform: scale(1.1);
    }

    section h2 {
        margin: 2% 0;

    }

}

@media screen and (max-width: 420px) {

    article section div, li, p, pre {
        font-size: 14px;
    }
    
    article section h2 {
        font-size: 20px;
        
    }
    

    article section .mobile-text p {
        font-size: 2.5vw;
    }

    section .mobile-text {
        top: 11%;
        left: 13%;
        max-width: 70%;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}



h1 {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    transform: translateY(-300%);
    animation: move-in 1s forwards;
}

@keyframes move-in {
    0% {transform: translateY(-300%);}
    100% {transform: translateY(0);}
}

.ul-dot {
    /* opacity: 0; */
    z-index: 1;
    transform: translateX(-80%);
    animation: move-appear 1s forwards 1s;

}

@keyframes move-appear {
    0% {transform: translateX(-80%); }
    15% {transform: translateX(5%);}
    30% {transform: translateX(-5%);}
    45% {transform: translateX(3%);}
    60% {transform: translateX(-3%);}
    75% {transform: translateX(1%);}
    85% {transform: translateX(-1%);}
    100% {transform: translateY(0); }
}


h2 {
    font-family: var(--font-family-h);
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-family: var(--font-family-h);
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

nav,
header {
    
    font-family: var(--font-family-h);
    background-color: var(--bg-color-medium);
    color: var(--text-light-color);
}


header img {
    z-index: 2;
    width: 300px;
}

header h2,
ul {
    margin: 5px 0;
}


section {
    padding: 10px 5%;
    font-family: Roboto, Arial, Helvetica, sans-serif ;
    font-weight: 300;
}

section h2 {
    border-bottom: 2px solid var(--bg-color-dark);
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px 0;
    background-color: var(--bg-color-medium);
}

footer time {
    font-family: var(--font-family-h);
    font-size: 30px;
    padding: 0 10vw;
}

.container-wrap {
    display: flex;
    flex-wrap: wrap;
}

.container-center {
    max-width: 900px;
    margin: 0 auto;

}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0;
}

.navigation a{
    padding: 0 5px;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-light-color);
}

.navigation li {
    position: relative;
}

.navigation a:before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0px;
    height: 3px;
    visibility: hidden;
    background: linear-gradient(to right, var(--bg-color-light), var(--bg-color-medium));
    transition: all 0.3s ease-in-out 0s;
}

.navigation a:hover::before {
    visibility: visible;
    width: 100%;

}

.header-img {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-grow: 0;
}

.main-information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    padding: 0 7%;
}



.project a{
    display: block;
    position: relative;
    margin-top: 30px;
    width: 100%;
    /* height: 420px; */
    text-decoration: none;

}

.project img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: contain;
    filter: saturate(50%);
    opacity: 0.5;
    border-radius: 7px;
    transition: 0.3s all ease-in-out;
    
}


.description-abs {
    display: block;
    position: absolute;
    top: 15%;
    left: 9%;
    z-index: 1;
    padding: 0 10px;
    max-width: 60%;
    opacity: 0;
    color: var(--text-light-color);
    background: var(--bg-color-medium);
    border-radius: 7px;
    transition: opacity 0.5s ease-in-out;
    
}

.project a:hover img {
    filter: saturate(70%);
    opacity: 1;
}

a:hover .description-abs {
    opacity: 1;
    /* animation: appear 1s forwards; */

}

.bright {
    color: var(--text-bright-color);
}


/* @keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */









