.main-block {
    display: flex;
    flex-direction: column;
}

h1,
h2,
main,
div,
pre,
ul,
p {
    margin-right: auto;
    margin-left: auto;
}

footer {
    display: block;
    margin: 20px auto;
}

img {
    display: inherit;
    margin: inherit;
}